.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: lightgrey;
}

.dialogs_items {
  padding: 15px;
  color: blue;
}

.dialog_active {
  color: #9939ED;
}

.messages {
  padding: 15px;
}

.dialogItem_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

