.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: lightgrey;
}

.dialogs_items {
  padding: 15px;
  color: blue;
}

.dialog_active {
  color: #9939ED;
}

.dialog {
  
}

.messages {
  padding: 15px;
}

.message {

}

